<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title th:text="${title}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
</head>
<body>
<nav class="container">
    <ul>
        <li><strong> <li><a th:href="@{/}">Return to Admin page</a></li></strong></li>
    </ul>
</nav>
<main class="container">

    <form method="post" accept-charset="UTF-8" th:action="@{/add-course}" th:object="${course}">
        <div th:if="${course}">
            <span class="error" th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></span><br>
            <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span><br>
        </div>
    </form>

    <form method="post" accept-charset="UTF-8" th:object="${createStudentCommand}">
        <div th:if="${createStudentCommand}">
            <span class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span><br>
            <span class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span><br>
            <span class="error" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></span><br>
            <span class="error" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span><br>
            <span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span><br>
            <span class="error" th:if="${#fields.hasErrors('studentTicketNumber')}" th:errors="*{studentTicketNumber}"></span><br>
        </div>
    </form>

</main>
</body>
</html>
